*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
body{
  min-height: 100%;
}
.full{
  display: flex;
  flex-direction: column;
}
.whole{
  width: 100%;
  height: 80px;
}
.navbar{
  position: fixed;
  /* top: 0; */
  z-index: 2;
  /* background-color: white; */
  width: 100%;
}
.navbar ul{
  display: flex;
  width: 100%;
  align-items: center;
  /* background-color: gold; */
}
.blogg{
  padding-bottom: 0.88rem;
    border-bottom: 2px solid black;
}
.navbar li{
  list-style-type: none;
  padding: 1rem;
}
.navbar li:hover a{
  color: grey;
  cursor: pointer;
}
.navbar ul a{
  color: #263146;
  text-decoration: none;
  /* font-weight: 600; */
  font-family: 'TypoPRO Bebas Neue';
  font-size: 1.4rem;
}
.navbar-logo{
  flex: 1;
}
.navbar-toggle{
  display: none;
}
.alum{
  margin-right: 5%;
}
.image{
  margin-left: 5%;
  padding-left: 0;
}
@media (max-width: 600px){
  .navbar-links{
    display: none;
  }
  .navbar-toggle{
    display: block;
    margin-right: 5%;
  }
}
.full{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  /* flex-grow: 1;
  flex-shrink: 0; */
}
.container{
  margin:10px 5%;
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container > div{
  /* border: 1px solid black; */
  flex-grow: 1;
  height: auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #d4d4d5;
  cursor: pointer;
}
.container > div:hover{
  position: relative;
  bottom: 0.3em;
}
.one, .two, .three, .four, .five, .six{
  flex-grow: 1;
  flex-basis: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1px #d4d4d5;
}
.image1{
  width: 100%;
  height: 200px;
  background-image: url("https://cdn-images-1.medium.com/max/1024/1*cM7yY5kyzvtPmAuNn9HUAg.jpeg");
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
.image2{
  width: 100%;
  height: 200px;
  background-image: url(https://cdn-images-1.medium.com/max/1024/1*A96kbftJ5TzSwqDaJYatGw.png);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
.image3{
  width: 100%;
  height: 200px;
  background-image: url(https://cdn-images-1.medium.com/max/1024/1*nhjs_X32FXtBHjBjDFr3cw.png);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
.image4{
  width: 100%;
  height: 200px;
  background-image: url(https://cdn-images-1.medium.com/max/1024/0*lnVPgiG-45T4tsBW);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
.image5{
  width: 100%;
  height: 200px;
  background-image: url(https://cdn-images-1.medium.com/max/1024/1*pP6T-eS8bX0ZtXpRTc2vdg.jpeg);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
.image6{
  width: 100%;
  height: 200px;
  background-image: url(https://cdn-images-1.medium.com/max/1024/1*2soSYXqsaPzpTZ97FGOsEQ.png);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
header{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.para1, .para2, .para3, .para4, .para5, .para6{
  flex-grow: 1;
  font-weight: 550;
  font-size: 1.03em;
  padding: 1em;
  border-top: 1px solid rgba(34,36,38,.1);
}
.p1, .p2, .p3, .p4, .p5, .p6{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em;
  color: rgba(0,0,0,.4);
  border-top: 1px solid rgba(0,0,0,.05);
}

.active{
  box-shadow: 0 0 10px rgba(0,0,0,0.4); 
}
.M{
  padding: 1.2em;
  text-align: center;
  margin-bottom: 1em;
  height: 8rem;
}
#foot{
  margin-top: 2rem;
  width: 100%;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  /* padding-left: 3.65em; */
  background-color: #263146;
  font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 15px;
  position: absolute;
  bottom: 0;
}
#foot > div{
  margin: 0 5%;
  
}
@media (max-width: 800px){
  .container > div{
    flex-basis: 85% !important;
    max-width: 85% !important;
  }
}
@media (max-width: 1100px){
  .container > div{
    flex-basis: 45%;
    max-width: 45%;
  }
}



